### 1. Variáveis instrumentais

### 2. Bibliotecas

In [13]:
# Manipulação dos dados
import pandas as pd
import numpy as np

# Estatística
from scipy.stats import ttest_ind
from linearmodels.iv import IV2SLS

# Configurações
import warnings
import os

# Exibição de informação
from tabulate import tabulate

### 3. Configurações

In [4]:
os.chdir("C:/Users/Usuaro/Documents/GitHub/modelos_avaliacao_impacto/Dados") 
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
warnings.filterwarnings("ignore")

#### 4. Manipulando os dados

In [6]:
# Importando os dados
dados = pd.read_stata('evaluation.dta')

# Primeiras observações
dados.head()

,locality_identifier,household_identifier,treatment_locality,promotion_locality,eligible,enrolled,enrolled_rp,poverty_index,round,health_expenditures,age_hh,age_sp,educ_hh,educ_sp,female_hh,indigenous,hhsize,dirtfloor,bathroom,land,hospital_distance,hospital
0,26.0,5.0,1.0,1.0,1.0,1.0,1.0,55.950542,0.0,15.185455,24.0,23.0,0.0,6.0,0.0,0.0,4.0,1,0,1,124.819966,0.0
1,26.0,5.0,1.0,1.0,1.0,1.0,1.0,55.950542,1.0,19.580902,25.0,24.0,0.0,6.0,0.0,0.0,4.0,1,0,1,124.819966,0.0
2,26.0,11.0,1.0,1.0,1.0,1.0,0.0,46.058731,0.0,13.076257,30.0,26.0,4.0,0.0,0.0,0.0,6.0,1,0,2,124.819966,0.0
3,26.0,11.0,1.0,1.0,1.0,1.0,0.0,46.058731,1.0,2.398854,31.0,27.0,4.0,0.0,0.0,0.0,6.0,1,0,2,124.819966,1.0
4,26.0,13.0,1.0,1.0,1.0,1.0,0.0,54.095825,1.0,0.000000,59.0,57.0,0.0,0.0,0.0,0.0,6.0,1,0,4,124.819966,1.0

In [7]:
# Informações sobre o DataFrame
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19827 entries, 0 to 19826
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locality_identifier   19827 non-null  float32
 1   household_identifier  19827 non-null  float32
 2   treatment_locality    19827 non-null  float32
 3   promotion_locality    19827 non-null  float32
 4   eligible              19827 non-null  float32
 5   enrolled              19827 non-null  float32
 6   enrolled_rp           19827 non-null  float32
 7   poverty_index         19827 non-null  float32
 8   round                 19827 non-null  float32
 9   health_expenditures   19827 non-null  float32
 10  age_hh                19827 non-null  float32
 11  age_sp                19827 non-null  float32
 12  educ_hh               19827 non-null  float32
 13  educ_sp               19827 non-null  float32
 14  female_hh             19827 non-null  float32
 15  indigenous            19827 non-null  float32
 16  hhsize                19827 non-null  float32
 17  dirtfloor             19827 non-null  int8
 18  bathroom              19827 non-null  int8
 19  land                  19827 non-null  int8
 20  hospital_distance     19827 non-null  float64
 21  hospital              11257 non-null  float32
dtypes: float32(18), float64(1), int8(3)
memory usage: 1.6 MB

In [8]:
# Estatísticas sobre as variáveis
dados.describe()

,locality_identifier,household_identifier,treatment_locality,promotion_locality,eligible,enrolled,enrolled_rp,poverty_index,round,health_expenditures,age_hh,age_sp,educ_hh,educ_sp,female_hh,indigenous,hhsize,dirtfloor,bathroom,land,hospital_distance,hospital
count,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,19827.000000,11257.000000
mean,73.933472,8038.973145,0.500277,0.512685,0.567761,0.299037,0.293287,56.789566,0.500025,17.035091,46.683117,40.581734,2.833550,2.618601,0.099057,0.352903,5.178645,0.603621,0.615978,2.079740,105.322517,0.052323
std,55.076504,4569.480957,0.500013,0.499852,0.495400,0.457847,0.455280,10.686109,0.500013,9.291581,15.294824,12.822698,2.754713,2.543279,0.298746,0.477885,2.195150,0.489157,0.486375,3.133202,42.063479,0.222687
min,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.479134,0.000000,0.000000,14.000000,14.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,9.465392,0.000000
25%,30.000000,3989.500000,0.000000,0.000000,0.000000,0.000000,0.000000,49.652241,0.000000,11.621977,34.000000,31.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,72.804218,0.000000
50%,59.000000,8040.000000,1.000000,1.000000,1.000000,0.000000,0.000000,56.414219,1.000000,16.051678,45.000000,41.000000,2.000000,2.000000,0.000000,0.000000,5.000000,1.000000,1.000000,1.000000,113.556497,0.000000
75%,112.000000,12033.000000,1.000000,1.000000,1.000000,1.000000,1.000000,62.905720,1.000000,21.236842,58.000000,48.000000,4.000000,4.000000,0.000000,1.000000,7.000000,1.000000,1.000000,3.000000,141.097735,0.000000
max,200.000000,15778.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000,1.000000,116.830643,88.000000,88.000000,16.000000,17.000000,1.000000,1.000000,13.000000,1.000000,1.000000,23.000000,170.457647,1.000000

In [9]:
# Verificando a existência de dados faltantes. existem 8570 valores faltantes na coluna "hospital"
valores_faltantes = dados.isnull().sum().sort_values(ascending=False)
print(valores_faltantes)

hospital                8570
household_identifier       0
hospital_distance          0
land                       0
bathroom                   0
dirtfloor                  0
hhsize                     0
indigenous                 0
female_hh                  0
educ_sp                    0
educ_hh                    0
locality_identifier        0
age_hh                     0
health_expenditures        0
round                      0
poverty_index              0
enrolled_rp                0
enrolled                   0
eligible                   0
promotion_locality         0
treatment_locality         0
age_sp                     0
dtype: int64

### 5. Replicando os resultados do capítulo

In [10]:
# Removendo colunas que não serão utilizadas
dados = dados.drop(columns=['eligible', 'treatment_locality', 'enrolled'])
dados.head()

,locality_identifier,household_identifier,promotion_locality,enrolled_rp,poverty_index,round,health_expenditures,age_hh,age_sp,educ_hh,educ_sp,female_hh,indigenous,hhsize,dirtfloor,bathroom,land,hospital_distance,hospital
0,26.0,5.0,1.0,1.0,55.950542,0.0,15.185455,24.0,23.0,0.0,6.0,0.0,0.0,4.0,1,0,1,124.819966,0.0
1,26.0,5.0,1.0,1.0,55.950542,1.0,19.580902,25.0,24.0,0.0,6.0,0.0,0.0,4.0,1,0,1,124.819966,0.0
2,26.0,11.0,1.0,0.0,46.058731,0.0,13.076257,30.0,26.0,4.0,0.0,0.0,0.0,6.0,1,0,2,124.819966,0.0
3,26.0,11.0,1.0,0.0,46.058731,1.0,2.398854,31.0,27.0,4.0,0.0,0.0,0.0,6.0,1,0,2,124.819966,1.0
4,26.0,13.0,1.0,0.0,54.095825,1.0,0.000000,59.0,57.0,0.0,0.0,0.0,0.0,6.0,1,0,4,124.819966,1.0

In [25]:
# Filtrar para as duas rodadas
baseline_data = dados[dados['round'] == 0]
followup_data = dados[dados['round'] == 1]

# Inicializar tabela
results = []

# Variável: Despesas com saúde na linha de base
group1 = baseline_data[baseline_data['promotion_locality'] == 1]['health_expenditures']
group2 = baseline_data[baseline_data['promotion_locality'] == 0]['health_expenditures']
mean1, mean2 = group1.mean(), group2.mean()
diff = mean1 - mean2
t_stat, p_value = ttest_ind(group1, group2, equal_var=False)
results.append(['Despesas com saúde (linha de base)', f"{mean1:.2f}", f"{mean2:.2f}", f"{diff:.2f}", f"{t_stat:.2f}", f"{p_value:.4f}"])

# Variável: Despesas com saúde no acompanhamento
group1 = followup_data[followup_data['promotion_locality'] == 1]['health_expenditures']
group2 = followup_data[followup_data['promotion_locality'] == 0]['health_expenditures']
mean1, mean2 = group1.mean(), group2.mean()
diff = mean1 - mean2
t_stat, p_value = ttest_ind(group1, group2, equal_var=False)
results.append(['Despesas com saúde (acompanhamento)', f"{mean1:.2f}", f"{mean2:.2f}", f"{diff:.2f}", f"{t_stat:.2f}", f"{p_value:.4f}"])

# Variável: Taxa de inscrição
group1 = followup_data[followup_data['promotion_locality'] == 1]['enrolled_rp']
group2 = followup_data[followup_data['promotion_locality'] == 0]['enrolled_rp']
mean1, mean2 = group1.mean() * 100, group2.mean() * 100  # Transformar em porcentagem
diff = mean1 - mean2
t_stat, p_value = ttest_ind(group1, group2, equal_var=False)
results.append(['Taxa de inscrição no HISP', f"{mean1:.2f}%", f"{mean2:.2f}%", f"{diff:.2f}%", f"{t_stat:.2f}", f"{p_value:.4f}"])

In [27]:
# Exibir a tabela formatada
headers = ['Descrição', 'Média Encorajados', 'Média Não Encorajados', 'Diferença', 'Estatística t', 'p-valor']
print(tabulate(results, headers=headers))

Descrição                            Média Encorajados    Média Não Encorajados    Diferença      Estatística t    p-valor
-----------------------------------  -------------------  -----------------------  -----------  ---------------  ---------
Despesas com saúde (linha de base)   17.19                17.24                    -0.05                  -0.47     0.6397
Despesas com saúde (acompanhamento)  14.97                18.85                    -3.87                 -16.49     0
Taxa de inscrição no HISP            49.20%               8.42%                    40.78%                 50.52     0